<li id="post-{{this.id}}">
    <p>
        <span>{{this.content}}</span><br>
        <small>{{this.user.name}}</small><br>
        {{!-- custom if comparison --}}
        {{#if (eq @root.user._id this.user._id)}}
            <small ><a class="delete-post-button" href="/post/delete/{{this._id}}">Delete</a></small>
        {{/if}}

        {{!--like part added --}}
        {{#if @root.user}} 
            <small>
                <a class="sign-in-like" href="/like/toggle?id={{this.id}}&type=Post">Likes <span>{{this.likes.length}}</span></a>
                
            </small>
        {{else}}
            <small>
                <span>likes <span>{{this.likes.length}}</span></span>
                
            </small>
        {{/if}}
    </p>
    <form class="new-comment-form" action="/comment/create" method="POST">
        <input type="text" name="content" id="" placeholder="comment here..." required>
        <input type="hidden" name="postId" id="" value="{{this._id}}">
        <button type="submit">Comment</button>
    </form>
    <div id="comments-list-{{this.id}}">
        <ul>
            {{#each this.comments}}
                {{>comment}}
            {{/each}}
        </ul>
    </div>
</li>