<li id="post-{{this.id}}">
    <p class="post-paragraph mt-3">
        <span>{{this.content}}</span><br>
        <small><i>{{this.user.name}}</i></small><br>
        {{!-- custom if comparison --}}
        {{#if (eq @root.user._id this.user._id)}}
        <small><a class="delete-post-button me-2" href="/post/delete/{{this._id}}"><i class="fas fa-trash-alt"></i></a></small>
        {{/if}}

        {{!--like part added --}}
        {{#if @root.user}}
        <small>
            <a class="sign-in-like" href="/like/toggle?id={{this.id}}&type=Post"><i class="fas fa-thumbs-up"></i>
                <span>{{this.likes.length}}</span></a>

        </small>
        {{else}}
        <small>
            <span style="color: blue;"><i class="fas fa-thumbs-up"></i> <span>{{this.likes.length}}</span></span>

        </small>
        {{/if}}
    </p>
    <form class="new-comment-form" action="/comment/create" method="POST">
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Comment here..." name="content" required style="background-color:lightyellow;">
            <input type="hidden" name="postId" value="{{this._id}}">
            <button class="btn btn-primary" type="submit" id="button-addon2">Comment</button>
        </div>
    </form>
    <div id="comments-list-{{this.id}}">
        <ul class="list-group ps-4">
            {{#each this.comments}}
            {{>comment}}
            {{/each}}
        </ul>
    </div>
</li>