<h1>Home</h1>
{{#if user}}
<form action="/post/create" method="POST">
    <textarea name="content" id="" cols="30" rows="10" placeholder="Type here..." required></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}
<div id="posts-list">
    <ul>
    {{#each posts}}
    
        <li>
            <p>
                <span>{{this.content}}</span><br>
                <small>{{this.user.name}}</small>
                {{!-- custom if comparison --}}
                {{#if (eq @root.user._id this.user._id)}} 
                    <small><a href="/post/delete/{{this._id}}">Delete</a></small>
                {{/if}}
            </p>
            <form action="/comment/create" method="POST">
                <input type="text" name="content" id="" placeholder="comment here..." required>
                <input type="hidden" name="postId" id="" value="{{this._id}}">
                <button type="submit">Comment</button>
            </form>
            <div id="comments-list">
                {{#each this.comments}}
                    <p>
                        <span>{{this.content}}</span><br>
                        <small>{{this.user.name}}</small>
                    </p>
                {{/each}}
            </div>
        </li>
   
    {{/each}}
    </ul>
</div>