<link rel="stylesheet" href="/css/home.css">
<style>
    {{#if user}}
        #users-list{
            width: 30%;
            margin:0 6px;
            height: 250px;
            overflow-y: scroll;
        }
    {{else}}
         #users-list{
            width: 30%;
            padding-left:10px;
            overflow-y: scroll;
        }

    {{/if}}
</style>
<div id="home-container">
     {{#if user}}
        <div id="write-post">
         <h2 class="mb-3">Write Post</h2>
            <form id="new-post-form" action="/post/create" method="POST">
                <textarea name="content" class="form-control" aria-label="With textarea" rows="16" placeholder="Start writing your post here..." required style="border: solid 1px grey;background-color:lightyellow "></textarea>
                <div class="text-center"><button type="submit" class="btn btn-primary btn-lg mt-4" >Post</button></div>
            </form> 
        </div>
    {{/if}}
    <div id="posts-list">
        <h2>Recent Posts</h2>
            <ul style="list-style-type:none;padding:0;">
                {{#each posts}}
                {{>post}}
                {{/each}}
            </ul>
        </div>

    <div id="users-list">
        <h2>All Users</h2>
        <ul>
            {{#each profile_users}}
            <li><a href="/user/profile/{{this._id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
{{>chatbox}}
<script>
    let notify=(data)=>{
    new Noty({
        theme: 'relax',
        type: 'success',
        layout: 'topRight',
        text: data.message,
        timeout: 1500
    }).show()
}
</script>
<script src="/js/comment.js"></script>
<script src="/js/post.js"></script>
<script src="/js/like.js">

</script><script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat-engine.js"></script>

{{#if user}}
    <script>
        new chatEngine('chatbox','{{user.email}}','{{user.name}}')
    </script>
{{/if}}

